@error: #ff4949;
@baseHeight: 95px;

.form-component-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: @baseHeight;
  padding: 12px 0;
  background-color: #fff;
  .form-label--require {
    &::before {
      margin-right: 8px;
      color: @error;
      font-size: 28px;
      content: '*';
    }
  }

  // 覆盖 taro-ui 的样式
  .at-input {
    &::after {
      border: none;
    }
    .at-input__children::after {
      border: none;
    }
  }
  .at-switch {
    padding: 0;
    &::after {
      border: none;
    }
    .at-switch__title {
      display: none;
    }
  }
  .at-rate {
    text-align: right;
  }
  .at-list {
    &::after {
      border: none;
    }
    .at-list__item {
      &::after {
        border: none;
      }
      .item-extra__icon-arrow {
        font-size: 40px;
      }
      .item-content__info-title {
        color: #ccc;
      }
    }
  }
  .at-checkbox {
    &::before {
      border: none;
    }
    &::after {
      border: none;
    }
  }
  .form-component-content {
    flex: 1;
  }
}
.form-component-wrapper--border {
  border-bottom: 1px solid #eee;
}
.form-label {
  display: flex;
  align-items: center;
  .label-text {
    margin-right: 4px;
  }
  .at-icon-alert-circle {
    padding-top: 4px;
  }
}
.form-label-line-height {
  line-height: @baseHeight;
}
.form-label-line-height--new_line {
  font-size: 34px;
}
.form-label--error {
  color: @error;
}

.form-component-wrapper--new_line {
  display: block;
}
