@error: #ff4949;
@baseHeight: 95px;

.form-component-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: @baseHeight;
  padding: 20px 0;
  background-color: #fff;
  .form-label--require {
    &::before {
      margin-right: 8px;
      color: @error;
      font-size: 28px;
      content: "*";
    }
  }
  .form-component-content-space {
    padding-top: 20px;
  }
  // 覆盖 taro-ui 的样式
  .at-input {
    &::after {
      border: none;
    }
    .at-input__children::after {
      border: none;
    }
  }
  .at-switch {
    padding: 0;
    &::after {
      border: none;
    }
    .at-switch__title {
      display: none;
    }
  }
  .at-rate {
    text-align: right;
  }
  .at-list {
    // height: 100%;
    &::after {
      border: none;
    }
    .at-list__item {
      &::after {
        border: none;
      }
    }
  }
  .form-component-content {
    flex: 1;
  }
}
.form-component-wrapper--border {
  border-bottom: 1Px solid #eee;
}
.form-label {
  display: flex;
  align-items: center;
  line-height: @baseHeight;
  .label-text{
    margin-right: 8px;
  }
  .at-icon-alert-circle{
    padding-top: 6px;
  }
}
.form-label--error {
  color: @error;
}

.form-component-wrapper--new_line {
  display: block;
}
